body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://via.placeholder.com/1200x800");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
}

.menu {
    width: 25%;
    background-color: rgb(226, 153, 91);
    color: rgb(226, 153, 91);
    padding: 20px;
    min-height: 400px;
}

.menu a {
    display: block;
    color: white;
    text-decoration: none;
    margin: 15px 0;
    background-color: rgb(226, 153, 91);
    padding: 10px;
    border-radius: 5px;
}

.menu a:hover {
    background-color: rgb(226, 153, 91);
}

.conteudo {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

.conteudo img {
    width: 550px;
    max-width: 400%;
    border-radius: 10px;
}

.rodape {
    background-color: rgb(166, 161, 158);
    color: white;
    text-align: center;
    padding: 15px;
}
